<form action="/php/register.php" method="POST">
    <label class="form__input">Имя<input name="name" type="text" required></label>
    <label class="form__input">Email<input name="mail" type="email" required></label>
    <label class="form__input">Пароль<input name="password" type="password" required></label>
    <label class="form__input">Подтверждение пароля<input name="password_confirm" type="password" required></label>
    <span class="error_message"></span>
    <input class="form__input link" name="signup" type="submit" value="Зарегистрироваться">
</form>
<script>
    document.querySelector('form').addEventListener('submit', (e) => {
        if (e.target.password.value != e.target.password_confirm.value) {
            e.preventDefault();
            document.querySelector('.error_message').innerText = 'Пароли не совпадают!';
        }
        else document.querySelector('.error_message').innerText = '';

    })
</script>